{{ define "main" }}
<div class="container p-3 my-3 border">
<h5>{{ .Title }}</h5>

<h6>Detalles del Avion</h6>
<table class="table table-hover table-bordered">
    <tbody>
        <tr> 
            <td>Name</td>
            <td>{{ .Params.Title}}</td>
        </tr>
        <tr>
            <td>Aerolíneas</td>
            <td>
                {{ range .Params.aerolineaId }}
                    {{ $t := $.Site.GetPage .}}
                    <a href="/aerolineas/{{ .}}">{{ $t.Title }}</a>
                {{ end }}
            </td>
        </tr>
        <tr>
            <td>Fabricantes</td>
            <td>
                {{ range .Params.fabricanteId }}
                    {{ $t := $.Site.GetPage .}}
                    <a href="/fabricantes/{{ .}}">{{ $t.Title }}</a>
                {{ end }}
            </td>
        </tr>
        <tr> 
            <td>Origen</td>
            <td>{{ .Params.origin}}</td>
        </tr>
        <tr> 
            <td>Primer vuelo</td>
            <td>{{ .Params.primer_vuelo}}</td>
        </tr>
     
    </tbody>
</table>

</div>
{{ end }}