{{ define "main" }}
<div class="container p-3 my-3 border">
<h5>{{ .Title }}</h5>

<h6>Detalles del fabricante</h6>
<table class="table table-hover table-bordered">
    <tbody>
        <tr> 
            <td>Name</td>
            <td>{{ .Params.Title}}</td>
        </tr>
        <tr> 
            <td>Industria</td>
            <td>{{ .Params.Industria}}</td>
        </tr>
        <tr> 
            <td>Fundación</td>
            <td>{{ .Params.Fundación}}</td>
        </tr>
        <tr> 
            <td>Fundador</td>
            <td>{{ .Params.Fundador}}</td>
        </tr>
        <tr> 
            <td>sede</td>
            <td>{{ .Params.sede}}</td>
        </tr>
        <tr>
            <td>Description </td>
            <td>{{ .Params.Description}}</td>
        </tr>
    </tbody>
</table>

</div>
{{ end }}